<h2>Hi!</h2>

<p>To reset your password, please visit the following link</p>

<a href="{{ url }}/{{ resetToken.token }}">{{ url }}/{{ resetToken.token }}</a>

<p>This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
